name: Deploy MkDocs to GitHub Pages

on:
  push:
    branches:
      - main
    paths:
      - 'docs/**'
      - 'mkdocs.yml'
      - 'pyproject.toml'

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-slim 
    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          version: "latest"

      - name: Build and Deploy
        run: |
          uv run mkdocs gh-deploy --force
